extends ../templates/default

block content
  .container  
    .row
      .col-md-6
        img(src="./images/insignia2.gif", class="right", alt="Insignia")
      .col-md-6
          h4.titulo1.text-center Mision
          i.fa.fa-quote-left.fa-3x.fa-pull-left.fa-border(aria-hidden='true', style="font-size: 30px;")
            h2.titulo-sm.text-center En insignia somos la empresa de Desarrollo de Software  enfocada en ofrecer servicios, soluciones  y aplicaciones móviles y web, de alta disponibilidad  (24/7), escalabilidad, confiabilidad e inmediatez, que aseguren la total satisfacción de nuestros clientes y usuarios finales.
          hr
          h4.titulo1.text-center Vision
          i.fa.fa-quote-left.fa-3x.fa-pull-left.fa-border(aria-hidden='true', style="font-size: 30px;")
            h2.titulo-sm.text-center En insignia trabajamos para que todos los abonados móviles usen nuestras aplicaciones, y seamos identificados por la calidad en nuestros servicios y aplicaciones, y liderazgo en la innovación de aplicaciones para el manejo de información interactiva.
          hr
          h4.titulo1.text-center Valores
          i.fa.fa-quote-left.fa-3x.fa-pull-left.fa-border(aria-hidden='true', style="font-size: 30px;")
            h2.titulo-sm.text-center Satisfacción de nuestros clientes y usuarios.
              | Cumplimiento de fechas de entrega.
              | Calidad de productos y servicios.
              | Responsabilidad social.
              | Proactividad.
              | Trabajo en equipo. 