extends ../templates/default

block content
  .container
    .row
      .col-md-6
        .input-group
          input.form-control(type="text")
          a.input-group-addon(href="#" style="background-color: white;")
            i.glyphicon.glyphicon-search
    
  br
  br
  p.alert.alert-danger oijfd
  

  .row
    .container-fluid
      .col-md-4.offset-1
        p.alert.alert-warning.text-center Movilnet
      .col-md-4.offset-1
        p.alert.alert-info.text-center Movistar
      .col-md-4.offset-1
        p.alert.alert-danger.text-center Digitel
