extends ../templates/default

block content
  .row
    .col-md-8
      .input-group
        input.form-control(type='text', placeholder="Busca por palabras clave", aria-describedby='basic-addon2', style='border-radius: 0px;')
        span#basic-addon2.input-group-addon Búsqueda
  hr
